@use 'variables' as *;

@mixin input-styles($padding: 10px) {
  padding: $padding;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: $border-radius;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
}

@mixin mobile {
  @media (max-width: 768px) {
    @content;
  }
}

@mixin small-mobile {
  @media (max-width: 480px) {
    @content;
  }
}
